body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


body {
    background-image:url(../Content/img/background-clearing.jpg);
    background-repeat:no-repeat;
    height:100%;
}
.main {
    height:100vh;
}

.mines {
    margin-left:300px;
    margin-top:200px;
}

.mines {
    font-size:x-large;
}

td {
    background-color: lightgreen;
}

.mine-detail{
    margin:10px;
    padding:50px;
    background-color:white;
    border-color:green;
    border-width:1px;
    border-style: solid;
    border-radius:25px;
}

#villageImage{
    position:absolute;
    top:206px;
    left:588px;
}
.mine-wrapper {
    position: absolute;
    top: 206px;
    left: 585px;
}

.mine-level{
    position:absolute;
    background:green;
    width:30px;
    height:30px;
    border-radius: 15px;
    transition:all .2s linear
}
.mine-level:hover{
    transform:scale(1.5);
}

.mine-clay-1 {
    background: #F1A760;
    top: 75px;
    left: 245px;
    border: 1px solid #000;
}

.mine-clay-2 {
    background: #F1A760;
    top: 245px;
    left: 155px;
    border: 1px solid #000;
}

.mine-clay-3 {
    background: #F1A760;
    top: 225px;
    left: 335px;
    border: 1px solid #000;
}

.mine-wheat-1 {
    background: #FFF098;
    top: 157px;
    left: 135px;
    border: 1px solid #000;
}

.mine-wheat-2 {
    background: #FFF098;
    top: 175px;
    left: 50px;
    border: 1px solid #000;
}

.mine-wheat-3 {
    background: #FFF098;
    top: 115px;
    left: 60px;
    border: 1px solid #000;
}

.mine-wheat-4 {
    background: #FFF098;
    top: 115px;
    left: 125px;
    border: 1px solid #000;
}

.mine-wheat-5 {
    background: #FFF098;
    top: 30px;
    left: 245px;
    border: 1px solid #000;
}

.mine-wheat-6 {
    background: #FFF098;
    top: 155px;
    left: 370px;
    border: 1px solid #000;
}

.mine-wood-1 {
    background: #92D868;
    top: 220px;
    left: 250px;
    border: 1px solid #000;
}

.mine-wood-2 {
    background: #92D868;
    top: 25px;
    left: 135px;
    border: 1px solid #000;
}

.mine-wood-3 {
    background: #92D868;
    top: 35px;
    left: 330px;
    border: 1px solid #000;
}

.mine-iron-1 {
    background: #C7E9EB;
    top: 90px;
    left: 390px;
    border: 1px solid #000;
}

.mine-iron-2 {
    background: #C7E9EB;
    top: 60px;
    left: 105px;
    border: 1px solid #000;
}

@keyframes upgrading {
    0% {
        transform:scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.upgrading{
    animation:upgrading .5s infinite;
}